@tailwind base;
@tailwind components;
@tailwind utilities;


/* .rbc-today{
    background-color: #6C63FF !important;
}
.rbc-off-range-bg{
    background-color: rgb(118, 118, 118) !important;
}
.rbc-month-view{
    color: white;
    border: none !important;
}
.rbc-header{
    border: none !important;
}
.rbc-month-row{
    border: none !important;
}
.rbc-off-range{
    color: black !important;
}
.rbc-day-bg{
    border: none !important;
    background-color: #303030;
    border-radius: 5px;
    margin: 2px;
} */